<!-- Верхняя навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <div class="app-title">Учет радиостанций</div>
        </div>
        <ul class="navbar-nav ms-auto">
            {% include 'partials/_admin_menu.html.twig' %}
        </ul>
    </div>
</nav> 